<section class="card">
    <div class="card-body">
        <h3>Quienes somos</h3>
        <p>DanCa nace en 2018, comenzamos fabricando rascadores para abastecer nuestros negocios y luego fuimos ofrecíendolos a nuestros proveedores. Hoy tenemos, entre nuestros clientes a reconocidas marcas.
Hace tiempo queriamos llevar nuestro sueño a otro nivel, es por eso que en julio 2023, nos estamos presentando por primera vez en "Expo Veterinarias" esperando que nuevos clientes nos conozcan.

La fabricación de nuestros productos son realizados en nuestro taller, con material nacional.
Queremos destacar que están pensados para que sean de fácil armado y transporte, es por eso que son totalmente desarmables y para armarlos no se necesitan herramientas.</p>
    </div>
</section>