<div class="jumbotron mt-4">
  <h1 class="display-5">Bienvenidos a Danca</h1>
  <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis odio quaerat illo voluptate quae,
    sit error ab ipsam accusamus porro praesentium placeat perferendis dolorem in neque molestiae ducimus repudiandae
    obcaecati.</p>
  <hr class="my-4">
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugit enim corporis quisquam blanditiis eos doloremque
    veniam reiciendis libero quasi hic.</p>
  <a href="/products" class="btn btn-primary">Vea nuestros productos</a>
</div>