<div>
    <form id="resetPasswordForm">
        <label>Correo electrónico</label>
        <input name="email">
        <label>Nueva contraseña</label>
        <input name="password">
        <input type="submit">
    </form>
    <p>Para volver al inicio: <a href="/signin">Ingrese aquí</a></p>
</div>
<script src="/js/resetpassword.js"></script>