<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card">
            <div class="card-header">
                Completa el formulario para crear tu cuenta
            </div>
            <div class="card-body">
                <form id="signupForm" method="POST">
                    <div class="form-group">
                        <input type="text" class="form-control" name="first_name" placeholder="Nombre" value="{{first_name}}">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="last_name" placeholder="Apellido" value="{{last_name}}">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="age" placeholder="Edad" value="{{age}}">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" name="email" placeholder="Dirección de email" value="{{email}}">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="password" placeholder="Contraseña">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="confirm_password" placeholder="Confirme su contraseña">
                    </div>
                    <button class="btn btn-primary btn-block" type="submit">
                        Crear cuenta
                    </button>
                </form>
                <br>
                <p>¿Ya tienes una cuenta?<a href="/signin">Ingrese aquí</a></p>
            </div>
        </div>
    </div>
</div>
<script src="/js/signup.js"></script>